.getStartedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; /* Adjust the margin to lower the content */
  }
  
  .getStartedButton {
    background-color: red;
    border-radius: 20px;
    padding: 15px 30px; /* Increase the padding for a larger button */
    margin-top: 20px; /* Add margin between the button and the text */
  }
  
  .getStartedLink {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .helloText {
    margin-top: 20px; /* Add margin between the button and the text */
    font-size: 24px;
    color: #333; /* or any color you prefer */
  }
  
  .astronautImage {
    margin-top: 20px; /* Add margin between the text and the image */
    position: relative;
    right: -3rem;
  }
  
  @media screen and (max-width: 600px) {
    .getStartedContainer {
      margin-top: 10px; /* Decrease margin for smaller screens */
    }
  
    .getStartedButton {
      padding: 8px 16px; /* Further decrease padding for smaller screens */
      margin-top: 10px; /* Decrease margin between elements */
    }
  
    .helloText {
      margin-top: 10px; /* Decrease margin between elements */
      font-size: 16px; /* Further decrease font size for smaller screens */
    }
  
    .astronautImage {
      display: none; /* Further decrease width for smaller screens */
    }
  }